<h1>Burgers App</h1>

<p>Eat-Da-Burger</p>

<!-- Yet to be Devoured -->
<ul>
  {{#each burger}}
    {{#if devoured}}
      <h4>Devoured</h4>
      <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label"></span> {{this.burger}}</p>
      </li>
  {{else}}
      <h4>Yet to be Devoured</h4>
      <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label"></span> {{this.burger}}</p>
        <button data-id="{{this.id}}" class="devourburger">Devour</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
<!-- Write an if statement that displays a devoured burger, forEach -->

<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <textarea id="quo" name="burger" rows="8" cols="40"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>